@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Times New Roman", Times, serif;
}
.wrapper {
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
  width:100%;
  background:url('../images/signup.jpg') no-repeat;
  background-size:cover;
  background-position:center;
  animation:animateBg 5s linear infinite;
  overflow: hidden;
}
@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}
.login-box {
  position: relative;
  width: 400px;
  height: 670px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
h2 {
  font-size:2em;
  color:#fff;
  text-align:center;
}
.input-box {
  position:relative;
  width:310px;
  margin:25px 0;
  border-bottom:1px solid #fff;
  height: auto;
}
.input-box label {
  position:absolute;
  top:50%;
  left:5px;
  transform:translateY(-50%);
  font-size:1em;
  color:#fff;
  pointer-events:none;
  transition:.5s;
}
.input-box input:focus  ~ label,
.input-box input:valid  ~ label {
  top:-5px;
}
.input-box input {
  width:100%;
  height:50px;
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#fff;
  padding:0 35px 0 5px;
}
.input-box .icon {
  position:absolute;
  right:8px;
  top:50%;
  color: #fff;
  transform: translateY(-50%);
}
.remember-forgot {
  margin:25px 0 25px;
  font-size:.9em;
  color:#fff;
  display:flex;
  justify-content:space-between;
  /* align-items: center; */
 
}
.remember-forgot label input {
  margin-right:3px;
}

.remember-forgot a {
  color:#fff;
  text-decoration:none;
}
.remember-forgot a:hover {
  text-decoration:underline;
}


.checkbox-label {
  display: inline-block;
  margin-right: 100px;/* Adjust the margin as needed */
}

.signup {
    margin-top: 0px;
  width:100%;
  height:40px;
  background-color:#fff;
  border:none;
  border-radius:40px;
  cursor:pointer;
  font-size:1em;
  color:#000;
  font-weight:500;
}
.register-link {
  font-size:.9em;
  color:#fff;
  text-align:center;
  margin:25px 0 10px;
}
.register-link p a {
  color:#fff;
  text-decoration:none;
  font-weight:600;
}
.register-link p a:hover {
  text-decoration:underline;
}
@media (max-width:500px) {
  .login-box {
    width:100%;
    height:100vh;
    border:none;
    border-radius:0;
  }
  .input-box {
    width:290px;
  }
}


.form-group {
  position: relative;
}

.eye circle:nth-of-type(2) {
  fill: var(--glint);
}

.eyeButton {
  padding: 0;
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 12px;
  border: 0;
  background: linear-gradient(hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5)), hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5))) padding-box;
  border: 6px white transparent;
  transition: background 0.125s;
  color: white;
  position: absolute;
  right: 0;
  z-index: 2;
  top: 50%;
  cursor: pointer;
  translate: 0 -50%;
  outline: 0;
}

input::selection {
  background: var(--selection);
}

.eyeOnly:is(:focus-visible, :hover) {
  --active: 1;
}

.eyeOnly svg {
  width: 75%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

label {
  position: absolute;
  color: var(--color-alpha);
  bottom: calc(100% + 0.5rem);
  letter-spacing: 0.2ch;
  transition: color 0.2s;
  left: 2rem;
  
}



.passwordInput {
  font-family: "Geist Mono", monospace;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  padding-right: 4rem;
  letter-spacing: 0.2ch;
  border-radius: 6px;
  color: white;
  border-color: white;
  border-style: solid;
  background: white;
  outline: none;
  transition: border-color 0.2s, color 0.2s
}


.form-group:focus-within label {
  color: var(--color);
}

.form-group:focus-within .passwordInput {
  border-color: var(--color);
  color: var(--color);
}

.form-group:focus-within .eyeOnly {
  color: var(--color);
}


.error-message {
  font-size: 1em;
  color: red;
  max-width: 310px; /* Maximum width for the error message container */
  word-wrap: break-word; /* Allow long words to wrap to the next line */
  white-space: normal; /* Allow wrapping of text within the container */
  display: block; /* Display as block element to occupy full width */
  margin-top: 0.3em; /* Adjust margin as needed */
}


