
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');
  :root {
      --black: #171321;
      --hotmag: #172eff;
      --magenta: #108fe3;
      --aqua: #86fbfb;
      --white: #f7f8fa;
      --font-size: 1.3rem;
      --mono: "Oxygen mono", monospace;
      --sans: Oxygen, sans-serif;
    }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      /* background-color: #050801; */
      z-index: 1000;
  }
  
  :root{
      --color-black:#212529;
      --color-white:#ecfffd;
  }
  body {
    height: 100vh;
    display:block;
    place-items: center;
    overflow: hidden;
    /* overflow-x: hidden; */
  }
 
  .header{
      display: flex;
      justify-content:space-around;
      align-items: center;
      height: 60px;
    z-index: 1000;
      padding: 0 2vw;
  }
  
  .logo{
      color: var(--color-black);
  }
  
  .ham{
      align-items: end;
      display: flex;
      justify-content:center;
      /* margin-left: 200px; */
  }
  .navlinks ul{
      display: flex;
      justify-content: center;
      align-items: center;
      /* navlinks-style: none; */
      gap: 2vw;
  }
  
  .navlinks ul a{
      color: white;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 0.05em;
      font-size: 1.1vw;
  }
  
   
  
  
  
  .neon {
      position:relative;
      display: inline-block;
      padding: 5px 15px;
      /* margin: 20px 0; */
      color: #03e9f4;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      letter-spacing: 4px;
      overflow: hidden;
      margin-right: 50px;
  }
  
  .neon:hover {
      background: #03e9f4;
      border-radius: 1rem;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
          0 0 25px #03e9f4,
          0 0 50px #03e9f4,
          0 0 200px #03e9f4;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }
  
  .neon:nth-child(1) {
      filter: hue-rotate(270deg);
  }
  
  .neon:nth-child(2) {
      filter: hue-rotate(110deg);
  }
  
  a span {
      position: absolute;
      display: block;
  }
  
  a span:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1 {
      0% {
          left: -100%;
      }
  
      50%,
      100% {
          left: 100%;
      }
  }
  
  a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,
              transparent, #03e9f4);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
  }
  
  @keyframes animate2 {
      0% {
          top: -100%;
      }
  
      50%,
      100% {
          top: 100%;
      }
  }
  
  a span:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: animate3 1s linear infinite;
      animation-delay: 0.50s;
  }
  
  @keyframes animate3 {
      0% {
          right: -100%;
      }
  
      50%,
      100% {
          right: 100%;
      }
  }
  
  
  .neon span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
  }
  
  @keyframes animate4 {
      0% {
          bottom: -100%;
      }
  
      50%,
      100% {
          bottom: 100%;
      }
  }
  
  canvas {
    background-color: #050801;
      position: fixed;
      top: 0;
      left: inherit;
      right: inherit;
      bottom: 0;
      z-index: 0;
    }
  
    .gradient {
      background: linear-gradient(
        90deg,
        rgba(255, 23, 228, 1) 0%,
        rgba(134, 251, 251, 1) 100%
      );
      height: 2px;
      z-index: 0;
    }
  
  
    
  
  /*register button*/
    .btn{
      padding: 5px 15px;
      font-size: 1rem;
      font-family: Poppins;
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0.125);
      border: 2px solid #ffffff9b;
      border-radius: 1rem;
      backdrop-filter: blur(5px);
      color: #ffffff9b;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    
    .btn::after{
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url("../images/galaxy.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    
    .btn:hover::after{
        opacity: 1;
        transform: scale(1.2);
    }
    

  
  /* #content {
      display: none; 
      transition: opacity 1s;
      
  } */
  .content {
      opacity: 1;
      transition: opacity 1s;
      /* z-index: 1000; */
  }
  
  .content.visible {
      opacity: 1;
      z-index: 1000;
  }
  
  .navlinks {
      navlinks-style: none;
      display: flex;
      align-items: center;
      gap: 40px;
    }
  
    .link {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
    }
  
    .link::before,
    .link::after {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #00fffc;
      transform: scaleX(0);
      transition: transform 0.25s;
    }
  
    .link::before {
      top: -3px;
      transform-origin: left;
    }
  
    .link::after {
      bottom: -3px;
      transform-origin: right;
    }
  
    .link:hover::before,
    .link:hover::after,
    .active::before,
    .active::after {
      transform: scaleX(1);
    }


  main {
    position:relative;
    width: 100%;
    height: 90%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }

  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

object-fit: contain;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s,
      height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 220px);
    }
    &:nth-child(5) {
      left: calc(50% + 440px);
    }
    &:nth-child(6) {
      left: calc(50% + 660px);
      opacity: 0;
    }
  }

  

  

  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }

  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .nava {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 5; */
    user-select: none;

    & .btn {
      background-color: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.7);
      border: 2px solid rgba(0, 0, 0, 0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  @media (width > 650px) and (width < 900px) {
    .content {
      & .title {
        font-size: 1rem;
      }
      & .description {
        font-size: 0.7rem;
      }
      & button {
        font-size: 0.7rem;
      }
    }
    .item {
      width: 160px;
      height: 270px;

      &:nth-child(3) {
        left: 50%;
      }
      &:nth-child(4) {
        left: calc(50% + 170px);
      }
      &:nth-child(5) {
        left: calc(50% + 340px);
      }
      &:nth-child(6) {
        left: calc(50% + 510px);
        opacity: 0;
      }
    }
  }

  @media (width < 650px) {
    .content {
      & .title {
        font-size: 0.9rem;
      }
      & .description {
        font-size: 0.65rem;
      }
      & button {
        font-size: 0.7rem;
      }
    }
    .item {
      width: 130px;
      height: 220px;

      &:nth-child(3) {
        left: 50%;
      }
      &:nth-child(4) {
        left: calc(50% + 140px);
      }
      &:nth-child(5) {
        left: calc(50% + 280px);
      }
      &:nth-child(6) {
        left: calc(50% + 420px);
        opacity: 0;
      }
    }
  }